
body {
    background-color: blue;
  display: grid;
  gap: 2rem;
  width: min(100% - 2rem, 60ch);
  margin-inline: auto;
  font-family: "Noto Sans", var(--font-sans, sans-serif);
  padding-block: 1rem;
}

.pic_title {
  font-size: var(--font-size-fluid-3);
  color: var(--gray-2);
  text-align: left;
  z-index: 1;
  padding-top: 10%;
  height: max-content;
}

